.login-dialog {
  width: 400px;
  height: 450px;
  background-color: #979797;
  padding: 45px;
  gap: 30px;
}

.input-box input {
  width: 300px;
  height: 5px;
  border: none;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  padding: 20px;
}

.input-box input::placeholder {
  color: #979797;
}

.input-box img {
  width: 18px;
  height: auto;
  position: relative;
  right: 11%;
  top: 9%;
  opacity: 45%;
}

.remember-forgot {
  width: 330px;
}

.input-box .remember-forgot {
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.remember-forgot label input {
  accent-color: #fff;
  margin-right: 3px;
}

.remember-forgot a {
  color: #fff;
  text-decoration: none;

}

.remember-forgot a:hover {
  text-decoration: underline;
}

.login-dialog button {
  width: 340px;
  height: 45px;
  border-radius: 40px;
  border: none;
  outline: none;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  transition: 400ms ease-in-out;
}

.login-dialog button:hover {
  filter: invert(1);
}

.input-box .register-link {
  text-align: center;
  font-size: 14.5px;
  margin: 20px 0 15px;
}

.register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;

}

.register-link p a:hover {
  text-decoration: underline;
}