.navigation {
  position: fixed;
  top: 0;
  width: 90vw;
  z-index: 90;
  background-color: var(--primary);
  column-gap: 40px;
  height: 70px;
  padding: 0 5vw 0 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation a {
  color: var(--background);
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}

.nav-logo {
  width: auto;
  height: 50px;
  margin: 0;
  position: relative;
}

.search-wrapper,
.search-wrapper-mobile {
  height: 40px;
  width: 750px;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 20px;
}

.search-wrapper,
.search-wrapper-mobile {
  :is(input) {
    width: 100%;
    height: 100%;
    font-size: medium;
    text-indent: 30px;
    padding: 0;
    border: none;
    border-radius: 20px 0 0 20px;

    &:focus {
      outline: none;
    }
  }
}

.search-wrapper,
.search-wrapper-mobile {
  :is(button) {
    width: 100;
    height: 100%;
    padding: 0 20px;
    border: 3px solid white;
    border-radius: 20px 20px 20px 20px;
    background: var(--primary);
    box-shadow: 0 0 10px rgba(146, 24, 24, 0.1);
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;

    &:hover {
      opacity: 80%;
    }
  }
}

.nav-options {
  padding: 0;
  display: flex;
}

.nav-item {
  padding: 0 5px 0;
  display: flex;
  align-items: center;
  position: relative;
  text-wrap: nowrap;
}

.nav-item img {
  height: 24px;
  aspect-ratio: 1/1;
}

.options-wrapper {
  width: 200px;
  position: absolute;
  top: 150%;
  background-color: white;
}

.options-wrapper a {
  margin: 0;
  padding: 20px;
  line-height: 0;
  color: var(--primary);

  &:hover {
    background-color: var(--background);
  }
}

#nav-toggle,
.burger-wrapper {
  display: none;
}

.nav-item-mobile {
  display: none;
}

@media (max-width: 800px) {
  .navigation {
    justify-content: space-between;
  }
  .search-wrapper {
    display: none;
  }

  .burger-wrapper {
    display: inline-block;
  }

  .burger {
    margin-top: 1.535rem;
    margin-right: 5vw;
    display: block;
    width: 28px;
    height: 16px;
    right: 0;
    top: 0;
    position: absolute;

    &:after,
    &:before {
      content: "";
      position: absolute;
      top: 0;
      height: 0;
      border-bottom: 2px solid white;
      width: 100%;
      left: 0;
      right: 0;
    }

    &:after {
      top: 100%;
    }

    :is(i) {
      display: block;
      text-indent: 100%;
      overflow: hidden;
      white-space: nowrap;
      height: 2px;
      background-color: white;
      width: 100%;
      position: absolute;
      top: 50%;
    }
  }

  #nav-toggle:checked ~ .burger-wrapper > :first-child > :first-child {
    &:after {
      transform: rotate(-45deg);
      transform-origin: center;
      top: 50%;
    }

    &:before {
      transform: rotate(45deg);
      transform-origin: center;
      top: 50%;
    }

    :is(i) {
      opacity: 0;
    }
  }

  .nav-options {
    display: none;
  }

  .nav-item-mobile {
    margin-top: 69px;
    height: 0;
    width: 100%;
    display: block;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    text-wrap: nowrap;
    list-style: none;
    background-color: var(--primary);
    transition: height linear 0.07s;

    :is(li) {
      margin-left: 7vw;
      padding-bottom: 10px;
      font-size: 20px;
      font-weight: 600;
    }
  }

  #nav-toggle:checked ~ .nav-item-mobile {
    height: auto;
    padding-top: 10px;
    padding-bottom: 30px;
  }

  .search-wrapper-mobile {
    width: 90vw;
    margin-left: 5vw;
    margin-bottom: 20px;
  }
}
