.cart-page {
  margin-top: 20px;
  margin-bottom: 100px;
  width: 1220px;
  
}

.cart-items-section,
.cart-options-section {
  padding: 50px 40px;
  background-color: white;
}

.cart-items-labels,
.cart-item {
  display: grid;
  grid-template-columns: 1fr 1fr 6fr 2fr 2fr 2fr 1fr;
  justify-items: center;
  align-items: center;
}

.cart-item img {
  height: 60px;
  width: 60px;
  justify-self: center;
}

.cart-items-labels {
  color: gray;
  border-bottom: 1px solid var(--background);
}

.cart-items-labels p{
  justify-self: start;
  font-size: x-large;
  grid-column: span 3;
  color: black;
}

.cart-item {
  padding: 20px 0;
}

.amount-input input {
  width: 50px;
}

.remove-item-button {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  color: var(--accent);

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.cart-options-section {
  border-top: 2px solid var(--primary);
}


.right-cart-options,
.left-cart-options {
  gap: 20px;
}

.cart-total-label {
  margin: 0;
  font-size: large;
}

.cart-total-amount {
  margin: 0;
  font-weight: bold;
  font-size: x-large;
  color: var(--accent);
}
