.review-dialog {
  background-color: white;
  min-width: 300px;
  padding: 40px;

  img {
    padding-right: 20px;
    height: 100px;
    width: 100px;
  }

  h2 {
    color: var(--primary);
  }

  label {
    padding-bottom: 20px;
    padding-left: 5px;
  }

  textarea {
    margin: 0;
    margin-bottom: 20px;
    width: 500px;
    min-height: 200px;
  }

  button {
    display: block;
    padding: 10px;
    border: 2px solid var(--primary);
    background: var(--primary);
    box-shadow: 0 0 10px rgba(146, 24, 24, 0.1);
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;

    &:hover {
      opacity: 95%;
    }
  }

  .delete-review {
    all: unset;
    color: var(--accent);
    text-decoration: underline;

    &:hover {
      cursor: pointer;
    }
  }
}

.rating-input {
  padding-bottom: 20px;

  .rating-star {
    padding: 5px;
    width: 17px;
    height: 17px;

    &:hover {
      cursor: pointer;
    }
  }
}
