.address-form {
  display: grid;
  max-width: 600px;
  height: auto;
  background-color: white;
  padding: 50px;
  column-gap: 10px;
  row-gap: 20px;

  h4 {
    color: var(--primary);
  }
}

.address-form .header,
.default-address-checkbox,
.submit-button {
  grid-column: span 6;
}

.address-form .name,
.address-form .number {
  grid-column: span 3;
}

.address-form .region,
.address-form .province,
.address-form .city,
.address-form .barangay {
  grid-column: span 2;
}

.address-form .street {
  grid-column: span 4;
}

.input-wrapper input {
  width: 100%;
}

.default-address-checkbox {
  margin-top: 30px;
}

.submit-button {
  width: 100%;
  height: 45px;
  border: 2px solid var(--primary);
  background: var(--primary);
  box-shadow: 0 0 10px rgba(146, 24, 24, 0.1);
  cursor: pointer;
  color: white;
  font-weight: bold;
  transition: 400ms ease-in-out;

  &:hover {
    color: var(--primary);
    background: white;
  }
}

.default-address-checkbox input {
  &::before {
    border: 1px solid var(--primary);
  }

  &:checked {
    background-color: var(--primary);
  }
}
