.item-page {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 40px;
  width: 900px;
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 20px;
  background-color: white;
}

.slider-container {
  flex-grow: 1;
}

.preview-container {
  width: 400px;
  height: 400px;
}

.preview-image img {
  max-width: 400px;
  max-height: 400px;
  width: auto;
  height: auto;
}

.sub-container {
  width: 400px;
}

.sub-preview {
  height: 100px;
  width: 300px;
  overflow: hidden;
}

.sub-slider {
  display: grid;
  grid-auto-columns: 100px;
  grid-auto-flow: column;
  transition: translate 150ms ease-in-out;
}

.sub-slider img {
  max-width: 70px;
  max-height: 70px;
  width: auto;
  height: auto;
}

#leftNav,
#rightNav {
  max-height: 30px;
  width: auto;
  opacity: 10%;
}

#leftNav:hover,
#rightNav:hover {
  cursor: pointer;
  opacity: 15%;
}

.description-container {
  flex-grow: 3;
  gap: 15px;
}

.specs-container {
  justify-self: flex-end;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  row-gap: 15px;
}

input[type="number"] {
  appearance: none;
}

input[type="number"] {
  appearance: none;
}

.spec-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.item-name-banner {
  margin: 0;
  font-size: x-large;
  font-weight: bold;
}

.item-price-banner {
  margin: 20px 0 50px;
  font-size: x-large;
  font-weight: bold;
  color: var(--accent);
}

.rating-sold-container,
.amount-label,
.spec-label {
  color: gray;
}

.spec-label {
  font-size: 10px;
}

.spec-value {
  font-size: 10px;
  font-weight: bold;
}

.rating,
.ratings-count,
.item-sold {
  color: black;
}

.rating-sold-container span {
  font-size: medium;
}

.item-actions-container {
  margin-bottom: 20px;
  width: 100%;
}

.item-actions-container button {
  margin-bottom: 10px;
  width: 100%;
  height: 30px;
  border: 2px solid var(--primary);
  box-shadow: 0 0 10px rgba(146, 24, 24, 0.1);
  cursor: pointer;
  font-weight: bold;
}

.add-to-cart-button {
  color: white;
  background: var(--primary);

  &:hover {
    opacity: 90%;
  }
}

.buy-now-button {
  color: var(--primary);
  background: white;

  &:hover {
    opacity: 70%;
  }
}

.item-reviews-section {
  background-color: white;
  width: 900px;
  padding: 20px 40px 40px 40px;

  .header {
    font-size: large;
    font-weight: bold;
    color: var(--primary);
  }

  .review-container {
    margin-top: 30px;
    padding-left: 10px;

    .reviewer {
      font-weight: bold;
      margin-bottom: 7px;
    }
    .rating,
    .review-date {
      font-size: 10px;
      margin-bottom: 7px;
    }
  }
}
