.slider-container {
  width: 450px;
}

.preview-container {
  width: 400px;
  height: 400px;
}

.preview-image img{
  max-width: 400px;
  max-height: 400px;
  width: auto;
  height: auto;
}

.sub-container {
  width: 400px;
}

.sub-preview {
  height: 100px;
  width: 300px;
  overflow: hidden;
}

.sub-slider {
  display: grid;
  grid-auto-columns: 100px;
  grid-auto-flow: column;
  transition: translate 150ms ease-in-out;
}

.sub-slider img {
  max-width: 70px;
  max-height: 70px;
  width: auto;
  height: auto;
}

#leftNav,
#rightNav {
  max-height: 30px;
  width: auto;
  opacity: 10%;
}

#leftNav:hover,
#rightNav:hover {
  cursor: pointer;
  opacity: 15%;
}

.description-container {
  height: 500px;
  width: 700px;
}

.specsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px 75px;
}

input[type=number] {
  appearance: none;
}

input[type=number] {
  appearance: none;
}
