.items-container {
  display: grid;
  grid-template-columns: repeat(5, 200px);
  gap: 15px;
  padding-bottom: 20px;
}

.item-card {
  background-color: white;
  width: 200px;
  height: 300px;
}

.item-card h4 {
  margin: 7px 0px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-padding {
  padding-left: 10px;
  padding-right: 10px;
}

.item-card img {
  width: 200px;
  height: 175px;
  object-fit: cover;
}

.items-container a {
  color: var(--text);
  text-decoration: none;
}

.item-padding span {
  color: var(--accent)
}

.pages-container {
  gap: 10px;
}

.pages-container span {
  color: var(--accent);
}

.pages-container button {
  all: unset;
  text-decoration: underline;
  cursor: pointer;
}

.sorter-wrapper {
  width: 1025px;
  background-color: white;
  border-bottom: 2px solid var(--primary);
  padding: 15px 20px;
  margin-bottom: 20px;
}

.sorter-wrapper select {
  padding: 5px;
  font-size: smaller;
  outline: none;

  &:hover {
    cursor: pointer;
  }
}

.loading-indicator{
  height: 100px;
  width: 100px;
  margin: 100px;
  border-radius: 50%;
  border: 2px solid var(--accent);
  border-color: var(--accent) transparent;
  animation: spin 1s infinite ease-out;
}

@keyframes spin {
  0%{
      transform: rotate(0deg);
     
  }
  100%{
      transform: rotate(360deg);
  }
  
}