.items-container {
  width: 100%;
  margin: 0 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  gap: 15px;
  padding-bottom: 20px;
}

.item-card {
  width: 200px;
  height: 300px;
}

.item-card h4 {
  margin: 7px 0px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-padding {
  padding-left: 10px;
  padding-right: 10px;
}

.item-card img {
  width: 200px;
  height: 175px;
  object-fit: cover;
}

.items-container a {
  color: var(--text);
  text-decoration: none;
}

.item-padding span {
  color: var(--accent)
}