.items-container {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 10px;
  margin-bottom: 30px;
}

.item-card {
  background-color: white;
  width: 200px;
  height: 275px;

  &:hover {
    outline: 3px solid var(--secondary);
  }
}

.item-name {
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.item-information {
  padding: 15px 10px;
  height: 100%;
}

.item-card img {
  width: 200px;
  aspect-ratio: 5/4;
  object-fit: cover;
}

.items-container a {
  color: var(--text);
  text-decoration: none;
}

.price {
  color: var(--accent)
}

.item-sold {
  font-size: small;
  color: gray;
}

.pages-container {
  gap: 10px;
}

.pages-container span {
  color: var(--accent);
}

.pages-container button {
  all: unset;
  text-decoration: underline;
  cursor: pointer;
}

.sorter-wrapper {
  width: 1000px;
  background-color: white;
  border-bottom: 2px solid var(--primary);
  padding: 15px 20px;
  margin-bottom: 20px;
}

.sorter-wrapper select {
  padding: 5px;
  font-size: smaller;
  outline: none;

  &:hover {
    cursor: pointer;
  }
}

.loading-indicator {
  height: 100px;
  width: 100px;
  margin: 100px;
  border-radius: 50%;
  border: 3px solid var(--accent);
  border-color: var(--accent) transparent;
  animation: spin 1s infinite ease-out;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);

  }

  100% {
    transform: rotate(360deg);
  }

}