.order-status-container {
  input:checked + label {
    border-bottom: 2px solid var(--accent);
  }
}

.order-status-selection {
  all: unset;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;

  &:hover {
    cursor: pointer;
  }
}
.order-list-section {
  padding-top: 30px;
  padding-bottom: 50px;
  border-top: 1px solid var(--secondary);

  :is(a) {
    all: unset;

    &:hover {
      cursor: pointer;
    }
  }
}

.ordered-items {
  padding: 0 50px 0 50px;
  border-bottom: 1px solid var(--secondary);

  :is(img) {
    padding-right: 20px;
    height: 100px;
    width: 100px;
  }

  .order-item-name {
    padding-right: 100px;
  }
}

.order-rating-section {
  padding: 0 50px 0 50px;
  border-bottom: 1px solid var(--secondary);

  :is(p) {
    font-size: small;
  }

  :is(span) {
    color: var(--accent);
    font-size: large;
  }

  :is(button) {
    all: unset;
    color: var(--accent);
    text-decoration: underline;

    &:hover {
      cursor: pointer;
    }
  }
}

@media (max-width: 1000px) {
  .orders-section {
    :is(label) {
      font-size: small;
    }
  }
  .ordered-items {
    :is(p) {
      font-size: small;
    }
  }

  .order-rating-section {
    :is(span) {
      font-size: medium;
    }
  }
}

@media (max-width: 800px) {
  .order-status-container {
    :is(label) {
      font-size: x-small;
    }
  }

  .ordered-items {
    padding: 0 5vw 0 5vw;
  }

  .order-rating-section {
    :is(button) {
      font-size: small;
    }
  }
}

