.profile-section {
  padding: 50px;
}

.profile-wrapper {
  display: flex;
  justify-content: space-between;
}

.profile-information-section {
  width: 100%;

  p {
    font-weight: 600;
  }

  .input-wrapper.text {
    width: 90%;
  }

  .input-wrapper.radio {
    display: flex;
    gap: 10px;
    input {
      flex-basis: 0;
    }
  }

  button {
    width: 100px;
    height: 45px;
    border: 2px solid var(--primary);
    background: var(--primary);
    box-shadow: 0 0 10px rgba(146, 24, 24, 0.1);
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;

    &:hover {
      opacity: 95%;
    }
  }
}

.profile-photo-section {
  img {
    height: 300px;
    width: auto;
    aspect-ratio: 1/1;
    background-color: var(--secondary);
    border-radius: 50%;
  }

  a {
    padding-top: 20px;
  }
}

@media (max-width: 1100px) {
  .profile-wrapper {
    flex-wrap: wrap-reverse;
    justify-content: center;
    gap: 50px;
    padding-bottom: 100px;
  }  

  .profile-information-section {
    .input-wrapper.text {
      width: 100%;
    }
  }

  .user-settings-location {
    padding-top: 5px;
    padding-bottom: 20px;
    color: var(--primary);

    p {
      font-weight: 600;
      font-size: large;
    }

    button {
      all: unset;
      position: absolute;
      font-size: x-large;
      left: 2%;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
