footer {
  margin-top: 100px;
  padding-top: 20px;
  background-color: white;
}

.footer-content {
  width: 1220px;
  height: 180px;
}

.footer-section {
  flex: 1;
  margin: 0 20px;
}

.footer-section h2 {
  color: var(--primary);
  font-size: x-large;
}

.footer-section p {
  color: gray;
  font-size: large;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section a {
  text-decoration: none;
  text-indent: 10px;
  color: gray;
  font-size: large;
}

.footer-section a:hover {
  color: var(--primary);
  text-decoration: underline;
}

.footer-bottom {
  width: 100%;
  height: 20px;
  margin-top: 70px;
  padding: 10px 0;
  text-align: center;
  background-color: var(--primary);
  border-top: 2px solid var(--secondary);
}

.footer-bottom p {
  margin: 0;
  color: white;
  font-weight: bold;
}
