.input-wrapper {
  width: 100%;
  position: relative;
}

.input {
  height: 50px;
  font-size: 16px;
  padding: 11px 15px;
  border-radius: 4px;
  border: 1px solid gray;
  width: 100%;
  outline: none;
  box-sizing: border-box;
}
.placeholder {
  pointer-events: none;
  position: absolute;
  font-weight: 400;
  top: 18px;
  left: 8px;
  padding: 0 8px;
  background-color: white;
  border-radius: 5px;
  transition:
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: gray;
}

.input:not(:placeholder-shown).input:not(:focus) + .placeholder {
  transform: scale(0.75) translateY(-36px) translateX(-15%);
  color: gray;
  transition: 0.2s ease;
}

.input:focus {
  border-color: var(--primary);
}

.input:focus + .placeholder {
  transform: scale(0.75) translateY(-36px) translateX(-15%);
  color: var(--primary);
  transition: 0.2s ease;
}

.input:invalid:not(:placeholder-shown) {
  transition: 0.2s ease;
  border-color: #f52c5c;
}

.input:invalid:not(:placeholder-shown) + .placeholder {
  transition: 0.2s ease;
  color: #f52c5c;
}
.input:invalid:not(:placeholder-shown).input:not(:focus) + .placeholder {
  transform: scale(0.75) translateY(-36px) translateX(-15%);
  color: #f52c5c;
  transition: 0.2s ease;
}

.options-list {
  width: 100%;
  max-height: 200px;
  padding: 0;
  position: absolute;
  top: 100%;
  z-index: 1;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.option-wrapper {
  width: 100%;
  height: 40px;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-indent: 15px;
  background-color: white;

  &:hover {
    background-color: var(--background);
  }
}

.amount-input {
  height: 20px;
  border: 2px solid var(--primary);
}

.amount-input button {
  height: 100%;
  aspect-ratio: 1 / 1;
  background: var(--primary);
  box-shadow: 0 0 10px rgba(146, 24, 24, 0.1);
  cursor: pointer;
  color: #ffffff;
  font-weight: bold;
  border: none;
}

.amount-input button:hover {
  opacity: 80%;
}

.amount-input input {
  flex: 1;
  height: 100%;
  text-align: center;
  font-size: medium;
  padding: 0;
  border: none;
}

.amount-input input:focus {
  outline: 1px solid rgba(0, 0, 0, 0.3);
}
