.results-page {
  width: 1350px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  justify-items: center;
  margin: 20px;
}

.item-display {
  width: 100%;
}

.filters-section {
  width: 200px;
}

.filter-group {
  gap: 10px;
}

.price-filter {
  width: 200px;
}

.price-input {
  width: 70px;
}