.promotion-section {
  padding-top: 20px;
  background-color: white;
}

.promo-banners {
  padding-bottom: 20px;
}

.items-section {
  padding: 20px 0;
  background-color: var(--background);
}

.items-section header {
  width: 1040px;
  background-color: white;
  color: var(--primary);
  font-weight: bold;
  font-size: x-large;
  padding: 15px 0;
  margin-bottom: 20px;
  border-bottom: 3px solid var(--primary);
}

.see-more-button {
  width: 1040px;
  height: 45px;
  border: 2px solid var(--primary);
  background: white;
  box-shadow: 0 0 10px rgba(146, 24, 24, 0.1);
  cursor: pointer;
  color: var(--primary);
  font-weight: bold;
  transition: 400ms ease-in-out;

  &:hover {
    opacity: 70%;
  }
}

.slider {
  position: relative;
  max-width: 900px;
  aspect-ratio: 9 / 4;
  overflow: hidden;
}

.active-banners {
  transition: translate 600ms ease-in-out;
  width: 100%;
}

.prev {
  left: 4%;
}

.next {
  right: 4%;
}

.banner-btns {
  width: 30px;
  height: auto;
  position: absolute;
  top: 50%;
  opacity: 10%;
  transition: opacity 300ms ease-in-out;
}

.banner-btns:hover {
  cursor: pointer;
  opacity: 20%;
}

.pages {
  position: absolute;
  right: 50%;
  bottom: 5%;
  transform: translate(50%, -50%);
}

.page-dot {
  width: 12px;
  height: 12px;
  margin: 3px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  opacity: 10%;
  transition: opacity 300ms ease-in-out;
}

.page0 {
  opacity: 20%;
}

.categories-container {
  display: grid;
  grid-template-columns: repeat(6, auto);
  justify-content: center;  
  margin-bottom: 10px;
  padding: 30px 0;
  gap: 50px;
}

.category img {
  max-width: 100px;
  height: auto;
  border-radius: 50%;
}

.category a {
  color: var(--primary);
  text-decoration: none;
}

@media (max-width: 900px) {
  .slider,
  .banner-img {
    width: 90vw;
  }
}

@media (max-width: 1040px) {
  .items-section header,
  .see-more-button {
    width: 830px;
  }

  .category img {
    max-width: 90px;
  }  
}

@media (max-width: 880px) {
  .categories-container,
  .items-section header,
  .see-more-button {
    width: 90vw;
  }

  .categories-container {
    width: 90vw;
    gap: 5vw;
  }

  .category img {
    max-width: 10vw;
  }  
}

@media (max-width: 700px) {
  .categories-container {
    grid-template-columns: repeat(3, auto);
  }
  .category img {
    max-width: 15vw;
  }  
}
