.item-card {
  width: 200px;
  height: 340px;
}

.item-padding {
  padding-left: 10px;
  padding-right: 10px;
}

.item-card img {
  width: 200px;
  height: 150px;
  object-fit: cover;
}

.items-grid {
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 40px 30px;
}
